{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
{% for product in products %}
<div style="display: inline-block;">
  <div class="card" style="width: 18rem;">
    <img src="{{ MEDIA_URL }}{{ product.productImage }}" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title"> {{ product.productName }}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}